absl-py==1.2.0
aiohttp @ file:///tmp/build/80754af9/aiohttp_1614360989480/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
altair @ file:///tmp/build/80754af9/altair_1599835197802/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569681205/work
async-timeout==3.0.1
asynctest==0.13.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.6.15
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
chardet==3.0.4
charset-normalizer==2.1.0
click==8.0.3
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
config @ file:///home/conda/feedstock_root/build_artifacts/config_1647436931927/work
coverage @ file:///tmp/build/80754af9/coverage_1614614864940/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639414570729/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.25
debugpy @ file:///tmp/build/80754af9/debugpy_1637091426235/work
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908585034/work
enum-compat==0.0.3
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1620718971772/work
fonttools==4.25.0
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1648771692657/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147336439/work
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///tmp/build/80754af9/gitpython_1624609474443/work
google-auth==2.9.1
google-auth-oauthlib==0.4.6
grpcio==1.47.0
gym @ file:///home/conda/feedstock_root/build_artifacts/gym_1644328755424/work
idna==3.3
importlib-metadata==4.12.0
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1646983213839/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1643818144432/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1652747529746/work
jaxlib==0.3.10
jedi @ file:///tmp/build/80754af9/jedi_1644299024593/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1650008095244/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1652925255303/work/keras-2.9.0-py2.py3-none-any.whl
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1647441664166/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
multidict @ file:///tmp/build/80754af9/multidict_1607367738239/work
munkres==1.1.4
nbclient @ file:///tmp/build/80754af9/nbclient_1650308370114/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1649751911790/work
nbformat @ file:///tmp/build/80754af9/nbformat_1649844918397/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847911453/work
notebook @ file:///opt/conda/conda-bld/notebook_1651734535442/work
numexpr==2.7.3
numpy==1.21.6
oauthlib==3.2.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1654874125012/work/packages/python/plotly/dist/plotly-5.8.2.tar.gz
pluggy @ file:///tmp/build/80754af9/pluggy_1648042572264/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
psutil==5.9.1
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck @ file:///tmp/abs_c06301fd-7800-4748-8e9e-0f9ab34bc0cess8ywq6h/croots/recipe/pydeck_1657894564709/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
Pympler @ file:///tmp/build/80754af9/pympler_1602785470644/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636098896055/work
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pystan==2.17.1.0
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638434924971/work
requests==2.28.1
requests-oauthlib==1.3.1
rich @ file:///opt/conda/conda-bld/rich_1641600379360/work
rsa==4.9
scipy==1.6.2
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
semver @ file:///tmp/build/80754af9/semver_1603822362442/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
six==1.16.0
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
streamlit @ file:///tmp/abs_c4af64a6-e8cd-486a-8e7a-4fa8b9d0c903olpgeyyl/croots/recipe/streamlit_1657914742590/work
TBB==0.2
tenacity @ file:///tmp/build/80754af9/tenacity_1632746495287/work
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado @ file:///tmp/build/80754af9/terminado_1644304459949/work
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.12.0
torch-model-archiver==0.6.0
torch-tb-profiler==0.4.0
torch-workflow-archiver==0.2.4
torchaudio==0.12.0
torchserve==0.6.0
torchtext==0.13.0
torchvision==0.13.0
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm==4.64.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions==4.3.0
tzlocal @ file:///tmp/build/80754af9/tzlocal_1597435723902/work
urllib3==1.26.11
validators @ file:///tmp/build/80754af9/validators_1612286467315/work
watchdog @ file:///tmp/build/80754af9/watchdog_1638367288901/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.2.1
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009354203/work
yarl @ file:///tmp/build/80754af9/yarl_1606939952652/work
zipp==3.8.1
