absl-py 
aiohttp 
aiosignal 
ale-py==0.7.5
altair 
argon2-cffi 
argon2-cffi-bindings 
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
asynctest==0.13.0
atari-py @ git+https://github.com/Kojoley/atari-py.git@86a1e05c0a95e9e6233c3a413521fdb34ca8a089
attrs 
backcall 
beautifulsoup4 
black==22.6.0
bleach 
blinker==1.4
Box2D==2.3.10
box2d-py==2.3.5
brotlipy==0.7.0
cachetools 
certifi==2021.10.8
cffi 
chardet==3.0.4
charset-normalizer 
click==8.0.4
cloudpickle 
colorama 
commonmark 
config 
coverage 
cryptography 
cycler 
Cython==0.29.25
dataclasses==0.6
debugpy 
decorator 
defusedxml 
distlib==0.3.4
entrypoints 
et-xmlfile==1.1.0
fasteners==0.17.3
fastjsonschema 
filelock==3.7.1
flatbuffers 
fonttools==4.25.0
frozenlist
future
gast==0.2.2
gitdb 
GitPython 
glfw==2.5.3
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
grpcio 
gym==0.24.0
gym-notices==0.0.6
h5py==3.7.0
idna==3.1
imageio==2.19.3
importlib-metadata 
importlib-resources==5.7.1
iniconfig 
intel-openmp==2022.1.0
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jax 
jaxlib==0.3.10
jedi 
Jinja2 
joblib==1.1.0
jsonschema==4.6.0
jupyter-client 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
keras 
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver 
libclang==14.0.1
loguru==0.6.0
lz4==4.0.1
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
mpi4py==3.1.3
msgpack==1.0.4
mujoco==2.2.0
mujoco-py==2.1.2.14
multidict 
munkres==1.1.4
mypy-extensions==0.4.3
nb-black==1.0.7
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numexpr==2.7.3
numpy==1.20.3
oauthlib 
olefile 
openai==0.20.0
opencv-python==4.5.5.64
openpyxl==3.0.10
opt-einsum 
ortools==9.3.10497
packaging 
pandas==1.3.5
pandas-stubs==1.2.0.61
pandocfilters 
parso 
pathspec==0.9.0
pexpect 
pickleshare 
Pillow 
platformdirs==2.5.2
plotly 
pluggy 
prometheus-client 
prompt-toolkit 
protobuf==3.20.1
ptyprocess 
py 
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
pydeck 
pygame==2.1.0
pyglet==1.2.4
Pygments 
PyJWT 
Pympler 
PyOpenGL==3.1.6
pyOpenSSL 
pyparsing 
pyrsistent==0.18.1
PySocks 
pystan==2.17.1.0
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
pyu2f 
PyYAML==6.0
pyzmq 
ray==1.13.0
rectpack==0.2.2
requests==2.25.1
requests-oauthlib==1.3.0
rich 
rsa 
scipy==1.6.2
seaborn 
semver 
Send2Trash 
six 
smmap 
soupsieve 
stable-baselines==2.10.2
streamlit 
tabulate==0.8.9
TBB==0.2
tenacity 
tensorboard==1.15.0
tensorboard-data-server 
tensorboard-plugin-wit
tensorboardX==2.5.1
tensorflow==1.15.0
tensorflow-cpu==2.9.1
tensorflow-estimator==1.15.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado 
testpath 
toml 
tomli 
toolz==0.12.0
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tornado 
tqdm==4.64.0
traitlets 
typed-ast==1.5.4
typing_extensions 
tzlocal 
UliEngineering @ git+https://github.com/ulikoehler/UliEngineering.git@f4d25d3f76925a0fc4f64aacf908db3f639baa64
urllib3 
validators 
virtualenv==20.14.1
watchdog 
wcwidth
webencodings==0.5.1
Werkzeug 
widgetsnbextension 
wrapt==1.14.1
yarl 
zipp 
